---
const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
} = Astro.props;
---

<section
  class="bg-[url(~/assets/images/hero-bg-2.jpg)] bg-cover bg-center bg-no-repeat flex justify-center items-center !h-[110dvh] relative md:-mt-[76px] not-prose"
>
  <div id="hero-container" class="" aria-hidden="true"></div>
  <div id="hero-text" class="text-center max-w-5xl mx-auto">
    {
      title && (
        <h1
          class="text-7xl md:text-9xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
          set:html={title}
        />
      )
    }
    <div class="max-w-3xl mx-auto">
      {subtitle && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={subtitle} />}
      {content && <Fragment set:html={content} />}
    </div>
  </div>
</section>
