---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import bidenImg from '~/assets/images/personal/biden.jpg';
import srlImg from '~/assets/images/personal/srl.jpg';
import ocsImg from '~/assets/images/personal/ocs.png';
import domImg from '~/assets/images/personal/dom.png';
import jscImg from '~/assets/images/personal/jsc_headshot.jpg';
import hereIcon from '~/assets/images/icons/here.svg';
import nasaIcon from '~/assets/images/icons/nasa.svg';
import nurseIcon from '~/assets/images/icons/nurse.svg';
import gradIcon from '~/assets/images/icons/grad.svg';

const metadata = {
  title: 'about page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <HeroText
    id="hero"
    title="About Me"
    tagline="About"
    image={{ src: '~/assets/images/hero/work.png', alt: 'Hero Image' }}
  />

  <Content
    isReversed
    id="welcome"
    image={{
      class: '-mt-10 md:mt-auto mx-auto w-full rounded-lg bg-gray-500 shadow-lg',
      src: jscImg.src,
      alt: 'JSC headshot',
    }}
  >
    {/*TODO: Review this text */}
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-6">From Plato to Python</h2>
      <p>
        After graduating with a degree in Philosophy, I decided to pursue my passion for programming. I enrolled in a
        graduate program that specialized transitioning people into software engineering. There I specialized in machine
        learning and data science. What I love about development is that it is both rigorously technical and deeply
        creative. I love the feeling of finally figuring out a solution to a problem. My core competencies are Python,
        Javascript, AWS, and Terraform.. I am also familiar with TypeScript, C, C++, and Ruby. I am always looking to
        learn new technologies.
      </p>
      <br />
      <p>
        Outside of technical skills, I am an adept communicator and leader. My background in the humanities trained me
        to communicate my ideas clearly and concisely. One of my biggest passions is mentoring young engineering talent
        in my organization. I love helping the next generation grow and learn.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-alt"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <!-- TODO: Get the image to position correctly -->

  <Content
    id="projects"
    title="Projects"
    subtitle="Projects"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Integrated orbiter telemetry into a visualization of the Mars 2020 landing sequence. The President tweeted this picture of him watching our visualization.',
      },
      {
        title: 'Role:',
        description:
          'Delivered the module that ingested the realtime telemetry downlinked from the Mars Reconnaissance Orbiter (MRO) and Mars Express Orbiter (MEX). This module made it possible to visualization the positions of the orbiters supporting the Mars 2020 landing.',
      },
    ]}
    image={{
      src: bidenImg.src,
      alt: 'Biden Mars image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Mars 2020 Landing Visualization</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: 'Developing flight software for the SRL project.',
      },
      {
        title: 'Role:',
        description: ``,
      },
    ]}
    image={{
      src: srlImg.src,
      alt: 'SRL image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Sample Return Lander (SRL) Flight Software
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-alt inset-0"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Developed a data-lake supporting 27 engineering teams across the Mars 2020 and Europa Clipper projects.`,
      },
      {
        title: 'Role:',
        description: ``,
      },
    ]}
    image={{
      src: ocsImg.src,
      alt: 'OCS image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Operational Cloud Store (OCS)</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: ``,
      },
      {
        title: 'Role:',
        description: `Lead operational support for the DOM, a distributed object store supporting 12 flight projects`,
      },
    ]}
    image={{
      src: domImg.src,
      alt: 'DOM image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Distributed Object Manager (DOM)
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-alt inset-0"></div>
    </Fragment>
  </Content>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title: 'Software and Mission Operations Engineer',
        institution: 'NASA Jet Propulsion Laboratory',
        link: 'https://www.jpl.nasa.gov/',
        location: 'Pasadena, CA',
        date: '2019-Present',
        bullets: [
          'Integrated telemetry into M20 landing visualization',
          'Developed and administered an AWS data-lake for 27 engineering teams',
          'Adapted command schemas to meet requirements for the Sample Return Lander(SRL) project',
          'Automated customer service processes through JIRA',
          'Hired, mentored, and managed 4 full-time operations engineers and 3 cohorts of interns',
        ],

        //icon: nasaIcon,
      },
      {
        title: 'Software Engineering Intern',
        institution: 'NASA Johnson Space Center',
        link: 'https://www.nasa.gov/centers/johnson/home/index.html',
        location: 'Houston, TX',
        bullets: [
          'Authored python and MATLAB libraries to automate data cleaning, ingestion, and verification of pupillometery data',
          'Researched the use of machine learning to predict cognitive workload of astronauts',
        ],

        icon: 'nasa',
        date: '2018',
      },
      {
        title: 'Software Engineering Intern',
        institution: 'HERE Technologies',
        link: 'https://www.here.com/',
        location: 'Chicago, IL',
        bullets: [
          'Implemented python modules for model verification and validation',
          'Continued honing my python & C++ skills',
        ],
        //icon: hereIcon,
        date: '2018',
      },
      {
        title: 'Simulation Operations Specialist',
        institution: 'DePaul University',
        link: 'https://csh.depaul.edu/academics/nursing/Pages/default.aspx',
        location: 'Chicago, IL',
        description: "Administered DePaul University's nursing simulation lab",
        //icon: nurseIcon,
        date: '2018',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    isReversed
    title="Education"
    items={[
      {
        title: 'MS in Computer Science',
        institution: 'DePaul University',
        link: 'https://www.depaul.edu/Pages/default.aspx',
        location: 'Chicago, IL',
        date: '2015-2018',
        bullets: [
          'Specialized in machine learning and artificial intelligence',
          'After graduating, I immediately found a software engineering internship',
        ],
        ////icon: gradIcon,
      },
      {
        title: 'MA in Philosophy',
        institution: 'The New School for Social Research',
        link: 'https://www.newschool.edu/nssr/',
        location: 'New York, NY',
        date: '2012-2015',
        description: 'Pursued my passion for logic, language, and ethics at the graduate level',
        ////icon: gradIcon,
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to excel as an interdisciplinary software engineer."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      'Python',
      'Javascript',
      'TypeScript',
      'Node.js',
      'Next.js',
      'React',
      'TailwindCSS',
      'AWS',
      'Serverless',
      'Terraform',
      'Ruby',
      'Perl',
      'SQL',
      'Docker',
      'Puppet',
      'Tensorflow',
      'Keras',
      'NumPy',
      'Pandas',
      'Scikit-learn',
      'Jupyter Notebooks',
      'Git',
      'HTML',
      'CSS',
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />
</Layout>
