---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Cards from '~/components/widgets/Cards.astro';
import { getBlogPermalink, getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';
---

<Layout metadata={{ title: 'Elliot Trapp', ignoreTitleTemplate: false }}>
  <!-- Hero Widget ******************* -->
  <Hero
    id="hero"
    title="I write <span class='bg-gradient-to-r from-blue-600 to-violet-600 bg-clip-text text-transparent dark:from-fuchsia-500 dark:to-cyan-500'>flight software</span> for robotic spacecraft."
    tagline="Hi, I'm Elliot."
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Contact Me Here',
        href: 'mailto:mail@elliottrapp.com',
        name: 'arrow-right',
      },
      {
        variant: 'secondary',
        name: 'download',
        target: '_blank',
        text: 'Download Resume',
        href: '/src/assets/docs/Resume.pdf',
      },
    ]}
    image={{ src: '~/assets/images/hero/home.webp', alt: 'Home Hero Image' }}
  >
    <Fragment slot="subtitle">
      I'm a software and mission operations engineer at NASA's Jet Propulsion Laboratory. My passions include science,
      philosophy, <u
        ><a
          class="bg-gradient-to-r from-blue-600 to-violet-600 bg-clip-text text-transparent dark:from-fuchsia-500 dark:to-cyan-500"
          href={'https://www.staracodecareer.com'}>coaching aspiring developers</a
        ></u
      >, and vegan food. I also write on <u
        ><a
          class="bg-gradient-to-r from-blue-600 to-violet-600 bg-clip-text text-transparent dark:from-fuchsia-500 dark:to-cyan-500"
          href={getBlogPermalink()}
        >
          my blog</a
        ></u
      >
       occasionally.
    </Fragment>
  </Hero>

  <!-- Content Widget (Welcome message) **************** -->

  <Content
    id="welcome"
    image={{
      class: '-mt-10 md:mt-auto mx-auto w-full rounded-lg bg-gray-500 shadow-lg',
      src: '~/assets/images/personal/train_headshot.webp',
      alt: "Elliot's train headshot",
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl mb-6">Welcome</h2>
      <p>
        Hey! I'm a developer, amateur website designer, occasional writer, aspiring technical career coach, and animal
        aficionado. Working on creative projects is an excellent excuse to learn new tools and frameworks. I setup this
        website as a place to share my thoughts and projects. I hope you find something interesting here.
      </p>
      <br />
      <p>
        When I'm not coding, I enjoy scuba diving, science-fiction and horror films, playing with my dog, and the latest
        video games. I'm consistently engaged in learning new things. Currently, I'm learning new web frameworks and
        putting together a side business. I'm always looking to connect to other developers, so feel free to reach out!
      </p>
      <div
        id="hero_action_container"
        class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
      >
        <Button variant="primary" text="More About Me" href={getPermalink('/about')} class="sm:w-auto mt-8" />
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-bkg-muted"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Latest posts"
    information={`I write about software, science, philosophy, urbanism, public transit, animal rights, and more.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Cards Widget **************** -->
  <Cards
    title="Projects"
    subtitle="Here are some of the projects that I've worked on."
    items={[
      {
        image: {
          src: '~/assets/images/personal/biden.webp',
          alt: 'Biden pic',
        },
        title: 'Mars 2020 Landing Visualization',
        description: "Here's The President watching the visualization of the Mars 2020 landing sequence we developed.",
      },
      {
        image: {
          src: '~/assets/images/personal/srl.webp',
          alt: 'SRL pic',
        },
        title: 'Sample Return Lander Flight Software',
        description:
          "These day's I spend about have my time is dedicated to flight software development for the SRL project",
      },
      {
        image: {
          src: '~/assets/images/personal/ocs.webp',
          alt: 'SRL pic',
        },
        title: 'Operational Cloud Store',
        description:
          'I also help develop OCS, which is a data-lake supporting 27 engineering teams across the Mars 2020 and Europa Clipper projects',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Me Here',
        href: 'mailto:mail@elliottrapp.com',
        name: 'arrow-right',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">Want to Work Together?</Fragment>
    <Fragment slot="subtitle">I'm always looking to coach aspiring software engineers</Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-bkg-muted inset-0"></div>
    </Fragment>
  </CallToAction>
</Layout>
