@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font */
    --font-sans: 'Poppins';
    --font-serif: var(--font-sans);
    --font-heading: var(--font-sans);

    /* Old Theme Colors 
    --theme-white: 47deg 44% 89%;
    --theme-light-blue: 214deg 25% 56%;
    --theme-medium-blue: 208deg 31% 35%;
    --theme-dark-blue: 215deg 40% 19%;
    --theme-black: 222deg 43% 9%;
    --theme-black-muted: 240deg 17% 23%;
    --theme-white-muted: 35deg 81% 78%;
    */

    --theme-white: 0deg 0% 100%;
    --theme-white-muted: 0deg 0% 85%;
    --theme-black: 0deg 0% 10%;
    --theme-black-muted: 0deg 0% 21%;
    --theme-green: 183deg 31% 34%;
    --theme-grey: 0deg 0% 85%;
    --theme-blue: 204deg 42% 27%;

    /* Background */
    --color-bkg-default: var(--theme-white-muted);
    --color-bkg-muted: var(--theme-white-muted);

    /* Text */
    --color-content-default: var(--theme-black);
    --color-content-muted: var(--theme-black-muted);
    --color-content-link: yellow; /* Background */

    /* Accents */
    --color-accent-1: var(--theme-dark-blue);
    --color-accent-2: var(--theme-medium-blue);
    --color-accent-3: var(--theme-light-blue);

    ::selection {
      background-color: black;
      color: white;
    }
  }

  .dark {
    /* Background */
    --color-bkg-default: var(--theme-black);
    --color-bkg-muted: var(--theme-black-muted);

    /* Text */
    --color-content-default: var(--theme-white-muted);
    --color-content-muted: var(--theme-white-muted);
    --color-content-link: yellow; /* Background */

    /* Accents */
    --color-accent-1: var(--theme-light-blue);
    --color-accent-2: var(--theme-medium-blue);
    --color-accent-3: var(--theme-dark-blue);

    ::selection {
      background-color: white;
      color: black;
    }
  }

  /* FOR REFERENCE
  .text-link {
    @apply bg-gradient-to-r from-amber-600 to-yellow-900 bg-clip-text text-transparent;
  }
  .dark .text-link {
    @apply bg-gradient-to-r from-amber-200 to-yellow-500 bg-clip-text text-transparent;
  }
  .bg-colorful {
    @apply bg-gradient-to-r from-blue-600 to-violet-600;
  }
  .dark .bg-colorful {
    @apply bg-gradient-to-r from-fuchsia-500 to-cyan-500;
  }

  */
}
