---
import Icon from '~/components/common/Icon.astro';
import { twMerge } from 'tailwind-merge';
import type { CallToAction } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  ...rest
} = Astro.props as CallToAction;

const variants = {
  primary:
    'inline-flex items-center justify-center rounded-full  font-medium text-center leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2  bg-accent-3  hover:bg-accent-2  hover:text-white text-content-default',
  secondary:
    'inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-accent-1 hover:border-gray-600 cursor-pointer',
  tertiary:
    'inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 cursor-pointer border-none shadow-none text-muted hover:text-gray-900',
  link: 'cursor-pointer hover:text-primary',
};
---

<a
  class={twMerge(variants[variant] || '', className)}
  {...target ? { target: target, rel: 'noopener noreferrer' } : {}}
  {...rest}
>
  <Fragment set:html={text} />
  {icon && <Icon name={icon} class="w-5 h-5 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
</a>
